@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  background-color: #F7F9FC;
}

/* 移动端优化 */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
